@model List<Producto>
@{
    ViewData["Title"] = "Lista de Productos";
}
<h1>@ViewData["Title"]</h1>

<p>En esta página se muestran los productos</p>



<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Create", "Producto")'">Nuevo Producto <i class="fas fa-plus"></i></button>
    

</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            
            <td>@item.IdProducto</td>
            <td>@item.Nombre</td>
            <td>@item.Descripcion</td>
            <td>@item.Cantidad</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">

                        
                        <a asp-action="Edit" asp-route-IdProducto="@item.IdProducto" class="btn btn-dark"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Details" asp-route-IdProducto="@item.IdProducto" class="btn btn-dark"> <i class="bi bi-card-text"></i></a>               
                        <a asp-action="Delete" asp-route-IdProducto="@item.IdProducto" class="btn btn-dark"><i class="fas fa-trash"></i></a>

                     
                    </div>
                    
                    </td>

        </tr>                                                       
        }
    </tbody>
</table>